@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.gstatic.com/s/majormonodisplay/v3/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeU.ttf) format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v9/J7aHnp1uDWRBEqV98dVQztYldFcLowEA.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v11/pxiKyp0ihIEF2isfFJA.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
  background-color: #EEE;
  font-family: 'Share Tech Mono', monospace;
}
body {
  font-size: 1.6rem;
}
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 3px grey;
  background-color: white;
}
header h1 {
  font-size: 2.8rem;
  padding: 15px;
  font-family: 'Major Mono Display', monospace;
}
header nav {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: black solid 1px;
}
header nav button {
  height: 100%;
  width: 25%;
  padding: 5px 0;
  border: none;
  border-right: black solid 1px;
  background-color: white;
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
}
header nav button:hover:enabled {
  background: black;
  color: white;
}
header nav button:first-child {
  border-radius: 0 0 0 3px;
}
header nav button:last-child {
  border-radius: 0 0 3px 0;
  border-right: none;
}
h3 {
  font-size: 2.4rem;
  padding: 5px 20px;
  font-family: 'Major Mono Display', monospace;
}
h4 {
  text-align: center;
  padding: 5px 20px;
  font-size: 2rem;
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}
section {
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 3px grey;
  background-color: white;
}
footer {
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-family: 'VT323', monospace;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 3px grey;
  background-color: white;
}
#page-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.tab {
  display: none;
}
#counters {
  background-color: #EEE;
}
#resources {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  justify-content: center;
  background-color: white;
  margin-bottom: 1px;
}
#resources .resource {
  text-align: center;
  min-width: 50%;
}
#resources .resource span {
  display: none;
  line-height: 1.5;
}
#special-resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin-bottom: 1px;
}
#special-resources span {
  display: none;
  text-align: center;
  min-width: 30%;
  padding: 5px 0;
}
#units {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  justify-content: center;
  background-color: white;
  margin-bottom: 1px;
}
#units span {
  display: none;
  text-align: center;
  min-width: 25%;
  padding: 5px 0;
}
#Build {
  flex-wrap: wrap;
}
#Build span {
  text-align: center;
  width: 20%;
  padding: 10px 0;
}
#Build button {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 12%;
  padding: 5px 0;
  margin: 5px 0;
  font-family: 'Share Tech Mono', monospace;
}
#Build button:hover:enabled {
  cursor: pointer;
  background: black;
  color: white;
}
